@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');
$color-violet:rgb(117, 89, 182); 
$color-black: rgb(0, 0, 0);
$background-color: rgb(164, 133, 204);



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.jumbotron {
  position: relative;
}

/* clear  */


.container {
  max-width: 1200px;
  margin: 0 auto;
}

 header {
   background-color: #141a6dbd;
 }
 
.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  max-height: 100vh;
  padding: 15px 0;

  .logo {
    size: 40px;
  }
    .navbar__menu {
      text-transform: uppercase;
      list-style-type: none; 
    
        li {
          position: relative;
          display: inline-block;
          font-size: 18px;
          padding: 0 30px;
          font-weight: 800;
          color: royalblue;
          overflow: hidden;
          background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200% 100%;
          background-position: 100%;
          transition: background-position 1s ease;
          text-decoration: none; 
          cursor: pointer;
          &:hover {
            background-position: 0 100%;
          }
        }
    }

}// end navbar 

// colors are changeable. im waiting for decision


// The end navbar


.about__me {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  text-align: center;

  .about__me--text {
    max-width: 500px;
    padding: 0 30px;
  }

    .social__media {
      font-size: 40px;
      cursor: pointer;

      .fa-facebook {
        color: rgb(64, 122, 189);
      }
      .fa-instagram {
        color: rgb(196, 44, 94);
      }
    }
}