@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

$background-color: #161616;
$color-1: #39bcf0;
$color-2: #6a77e0;
$color-3: #8e44d3;
$font: 'Playfair Display SC', serif;




html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.jumbotron {
  position: relative;
}

/* clear  */


.container {
  max-width: 1200px;
  margin: 0 auto;
}

 header {
   background-color: #161616;
   max-height: 120px;
 }
 
.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 15px 0;

    .line {
      background: linear-gradient(to right, #39bcf0, #6a77e0 , #8e44d3 , #687ae0);
      width: 350px;
      height: 3px;
      border: none;
      margin-top: 50px;
    }
  .logo {
    size: 40px;
    padding: 0 30px;

      img {
      width: 100px; 
      margin: 0;
      }
  }
    .navbar__menu {
      text-transform: uppercase;
      list-style-type: none; 
    
        li {
          font-family: $font;
          position: relative;
          display: inline-block;
          font-size: 22px;
          padding: 0 30px;
          font-weight: 900;
          color: royalblue;
          overflow: hidden;
          background: linear-gradient(to right, #39bcf0, #6a77e0 50%, #8e44d3 50% , #687ae0);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200% 100%;
          background-position: 100%;
          transition: background-position 1s ease;
          text-decoration: none; 
          cursor: pointer;
          &:hover {
            background-position: 0 100%;
          }
        }
    }

}// end navbar 

// colors are changeable. im waiting for decision


// The end navbar


.about__me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: $background-color;
  // background: linear-gradient(to right, #49a5ea , #6a77e0  ,#7e5bd9,  #8e44d3 , #687ae0); // < ----- background 2
  font-family: $font;
  padding: 140px 0;

    .about__me--text {
      max-width: 500px;
      padding: 60px 30px;
      font-size: 18px;
      color: $color-3;
    }

}

//  the end section about me 